<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>index.html</title>
  </head>
  <body>
  <header>
    <h1>Autor</h1>
  </header>
  <nav>
      <a href = "index.ejs"> Pagina Principal</a>
    </nav>
    
    <p><bold>Imagen del alumno</bold></p>
    <img src="/foto.png">
    
    <p><bold> Vídeo favorito</bold></p>
    <iframe width="854" height="480" src="https://www.youtube.com/embed/nmVstWkIpY0" frameborder="0" allowfullscreen></iframe>
    
    <footer>
    <h2> Christian Pérez Sánchez </h2>
    <h3> christian.perez.sanchez@alumnos.upm.es</h3>
    <p id="fecha"> <script type = "text/javascript">document.write("Fecha: " +new Date());</script></p>
    </footer>
    
    

    

    

  </body>
</html>
