
    <h2> Quiz : el juego de las Preguntas</h2>

    <form method="get" action="/quizzes/<%= quizId %/check>
    Pregunta: <%= quiz.question %> <p>

    <input type="text" name="answer" value="<%= answer %>" placeholder="Responda aquí"/>

    <input type="submit" value="Comprobar">
    </form>
   
